doctype html
html
  head
    meta(charset='utf-8')
    title Clyde Marl
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
  body
    h1 Homepage
    a(href='design.clydemarl.me') Design Projects
    a(href='movie.clydemarl.me') Movie Site
